* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
}

.mobi-menu {
  max-width: 200px;
  min-height: 812px;
  background-color: #0d0d0d;
  background-image: linear-gradient(rgba(12, 12, 12, 0.92), rgba(12, 12, 12, 0.92)),
   url(../images/image-71-mob-1x.webp);
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mobi-menu-wrap {
  display: flex;
  flex-direction: column;
  padding: 240px 40px 40px;
min-width: 72px;
}

.mobi-menu-container {
  display: flex;
  justify-content: center;
  margin-bottom: auto;
}
.mobi-menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  /* margin: 0 auto; */
}
.mobi-menu-item {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  /* text-align: center; */
}

.mobi-menu-img {
  color: #fbfbfb;
}
.mobi-social-wrap {
  display: flex;
}
.mobi-social-list {
}
.mobi-social-item {
}
