* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

ul,
ol {
  display: flex;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  max-width: 768px;
  /* background-color: transparent; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.mobilebox {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 160px;
  height: 100%;
  background-image: linear-gradient(
      rgba(12, 12, 12, 0.92),
      rgba(12, 12, 12, 0.92)
    ),
    url(../images/image-71-mob-1x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* opacity: 0;
    visibility: hidden;
    pointer-events: none; */
}

.mobi-menu-container {
  display: flex;
  flex-direction: column;
  padding-top: 240px;
  margin-bottom: auto;
}

.mobi-menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  /* margin: 0 auto; */
}

.mobi-menu-item {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  /* text-align: center; */
}

.mobi-menu-link:hover,
.mobi-menu-link:focus {
  color: #3350e9;
}

.mobi-menu-link {
  color: #fbfbfb;
}

.mobi-social-wrap {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  max-height: 34px;
}
.mobi-social-list {
  gap: 10px;
}

.mobi-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  width: 34px;
  height: 34px;
  /* padding-top: 4px; */
}

.mobi-icon {
  fill: #fbfbfb;
}

/* -------- Close-btn  ---------- */

.vector-container {
  color: #000;
  position: fixed;
  top: 20px;
  left: 146px;
}

.vector-label-btn {
  display: flex;
  width: 34px;
  height: 34px;
  /* border: 1px solid #fbfbfb; */
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.vector {
  position: relative;
}

/* .vector-one, */
.vector::before,
.vector::after {
  width: 24px;
  height: 2px;
  background-color: #fbfbfb;
}

.vector::before,
.vector::after {
  content: "";
  position: absolute;
  right: 0;
}

.vector::before {
  /* top: 10px; */
  transform: translateX(50%) rotate(-45deg);
}

.vector::after {
  transform: translateX(50%) rotate(45deg);
}
